.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  animation: initKey 2s forwards;

  margin: auto;
  max-height: 72%;
  width: 80%;
  text-align: left;

  @keyframes initKey {
    0% {
      transform: translate(50vh, 0);
      opacity: 0%;
    }

    100% {
      transform: translate(0, 0);
      opacity: 100%;
    }
  }

  text-align: justify;
  text-justify: inter-word;
  font-size: 3vh;
  line-height: 1;
  font-weight: 200;
}

.photo {
  img {
    max-height: 70vh;
  }

  animation: initPhoto 2s forwards;

  @keyframes initPhoto {
    0% {
      transform: translate(0, 50vh);
      opacity: 0%;
    }

    100% {
      transform: translate(0, 0);
      opacity: 100%;
    }
  } 
}

.text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  height: fit-content;

  opacity: 100%;
  padding: 1em;
  border-radius: 15px;
}
