<div class="container">
    <div class="main background1">
        <div class="leftDiv">
            <div class="iconsBar background2">
                <div class="icons">
                    <mat-icon>file_copy</mat-icon><br>
                    <mat-icon>search</mat-icon><br>
                    <mat-icon>route</mat-icon><br>
                    <mat-icon>table_chart</mat-icon><br>
                    <mat-icon>storage</mat-icon><br>
                </div>
            </div>
            <div class="foldersBar background3">
                <div *ngFor="let folder of folderDecos" class="folder">
                    <p>
                        <a *ngIf="folder.blankSpace == 1">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a *ngIf="folder.blankSpace == 2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <mat-icon>{{folder.icon}}</mat-icon>
                        {{folder.text}}
                    </p>
                </div>
            </div>
        </div>
        <div class="textDiv background4">
            <div class="textBar _1 colPrimary"></div>
            <div class="textBar _2 colAccent"></div>
            <div class="textBar _3 colInverse"></div>
            <div class="textBar _4 colInverse"></div>
            <div class="textBar _5 colPrimary"></div>
            <div class="textBar _6 colAccent"></div>
            <div class="textBar _7 colInverse"></div>
            <div class="textBar _8 colPrimary"></div>
        </div>
        <div class="terminalDiv background4">
            <p class="text txtInverse ">
                4 unchanged chunks <br>
                Build at: {{date | date:"yyyy-mm-hhThh:mm:ss.ms"}} - Hash: 08ecbb1a6d70415018b4 - Time: 302ms <br>
                √ Compiled successfully.
            </p>

        </div>
        <div class="welcomeContainer transparentTheme">
            <div class="welcoming">
                <div class="lineDeco colAccent"></div>
                Bem vindo(a), meu nome é
                <a class="txtAccent">Carlos Eduardo</a>
                <a class="blink">_</a>
            </div>
        </div>
    </div>

</div>