// Main
.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 50%;
  width: 100%;
  text-align: center;
}

.main {
  color: white;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: 0 auto;
  width: 72%;
  height: 100%;

  z-index: -1;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 10px rgb(10, 10, 10);
  -ms-box-shadow: 2px 2px 10px rgb(10, 10, 10);
  -moz-box-shadow: 2px 2px 10px rgb(10, 10, 10);
  -o-box-shadow: 2px 2px 10px rgb(10, 10, 10);
  box-shadow: 2px 2px 10px rgb(10, 10, 10);
}
//////////////////////////
// Welcome Text
.welcomeContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  height: fit-content;
  padding: 10px 0;
  z-index: -1;

  // background-color: #0a0a0ade;
}

.welcoming {
  font-size: 5vh;
  font-weight: 100;
  line-height: 1;
  padding: 10px;
  padding-left: 20px;
  text-align: left;
}

.blink {
  animation: blink 1250ms infinite;
}

@keyframes blink {
  0% {
    visibility: hidden;
  }
  49% {
    visibility: hidden;
  }
  50% {
    visibility: initial;
  }
  100% {
    visibility: initial;
  }
}

.lineDeco {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  margin-left: 10px;
  height: 80%;
  width: 1px;
}
//////////////////////////
// Left Div
.leftDiv {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 20%;
}
// Icons
.iconsBar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: -3;
  width: 25%;
  height: 100%;

  mat-icon{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
    font-size: 1.5vh;
    width: 100%;
    height: 4%;
    padding: 2px 0;
    color: #111116;
  }
}

.icons{
  margin-top: 5px;
}
//Folders
.foldersBar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0 5px;
  z-index: -4;
  width: 65%;
  height: 100%;
  padding-left: 25%;
}

.folder {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  color: #73738f78;
  font-size: 0.8vh;
  height: 4%;
  width: 100%;
  text-align: left;
  padding-left: 5%;

  white-space: nowrap;
  overflow: hidden;

  mat-icon{
    font-size: 100%;
    width: auto;
    height: 20%;
  }
}
//////////////////////////
// Text Div
.textDiv {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  height: 75%;
  margin: 2% auto auto 22%;
  width: 76%;
  z-index: -5;
}

.textDiv > .textBar {
  height: 1vh;
  margin: 1vh;
}

.textDiv > ._1 {
  opacity: 70%;
  width: 0;
  animation: textBar1 15s infinite ease-in-out;
}
@keyframes textBar1 {
  0% {
    width: 0%;
  }
  5% {
    width: 10%;
  }
  100% {
    width: 10%;
  }
}
.textDiv > ._2 {
  opacity: 70%;
  width: 0;
  animation: textBar2 15s infinite ease-in-out;
}
@keyframes textBar2 {
  5% {
    width: 0%;
  }
  12% {
    width: 30%;
  }
  100% {
    width: 30%;
  }
}
.textDiv > ._3 {
  opacity: 50%;
  width: 0;
  animation: textBar3 15s infinite ease-in-out;
}
@keyframes textBar3 {
  13% {
    width: 0%;
  }
  20% {
    width: 60%;
  }
  100% {
    width: 60%;
  }
}
.textDiv > ._4 {
  opacity: 50%;
  width: 0;
  animation: textBar4 15s infinite ease-in-out;
}
@keyframes textBar4 {
  21% {
    width: 0%;
  }
  35% {
    width: 58%;
  }
  100% {
    width: 58%;
  }
}
.textDiv > ._5 {
  opacity: 70%;
  width: 0;
  animation: textBar5 15s infinite ease-in-out;
}
@keyframes textBar5 {
  36% {
    width: 0%;
  }
  40% {
    width: 25%;
  }
  100% {
    width: 25%;
  }
}
.textDiv > ._6 {
  opacity: 70%;
  width: 0;
  animation: textBar6 15s infinite ease-in-out;
}
@keyframes textBar6 {
  41% {
    width: 0%;
  }
  45% {
    width: 8%;
  }
  100% {
    width: 8%;
  }
}
.textDiv > ._7 {
  opacity: 50%;
  width: 0;
  animation: textBar7 15s infinite ease-in-out;
}
@keyframes textBar7 {
  46% {
    width: 0%;
  }
  55% {
    width: 45%;
  }
  100% {
    width: 45%;
  }
}
.textDiv > ._8 {
  opacity: 70%;
  width: 0;
  animation: textBar8 15s infinite ease-in-out;
}
@keyframes textBar8 {
  56% {
    width: 0%;
  }
  70% {
    width: 25%;
  }
  100% {
    width: 25%;
  }
}

//////////////////////////
// Terminal Div
.terminalDiv{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  height: 16%;
  margin: auto 2% 2% auto;
  width: 76%;
  z-index: -5;
}

.terminalDiv> .text{
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  text-align: left;
  font-size: 1vh;
  line-height: 2;
  margin: 2%;

  color: #73738f;
}