<div class="container" [ngClass]="containerClass">
        <div class="desc">
            <h1 class="colAccent">SKILLS</h1>
        </div>
        <div class="desc">
            <h1 class="colPrimary">E FERRAMENTAS</h1>
        </div>
        <br><br><br><br>

        <mat-grid-list [cols]="gridCols" rowHeight="1:1.6" (window:resize)="onResize($event)">
            <mat-grid-tile class="skill">
                <div>
                    <img src="assets\skillsLogos\typescript.png"><br>
                    <p>Typescript</p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="skill">
                <div>
                    <img src="assets\skillsLogos\c_sharp.png"><br>
                    <p>C#</p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="skill">
                <div>
                    <img src="assets\skillsLogos\html.png"><br>
                    <p>HTML</p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="skill">
                <div>
                    <img src="assets\skillsLogos\css.png"><br>
                    <p>CSS</p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="skill">
                <div>
                    <img src="assets\skillsLogos\sass.png"><br>
                    <p>SASS</p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="skill">
                <div>
                    <img src="assets\skillsLogos\sql.png"><br>
                    <p>SQL</p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="skill">
                <div>
                    <img src="assets\skillsLogos\angular.png"><br>
                    <p>Angular</p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="skill">
                <div>
                    <img src="assets\skillsLogos\angular_material.png"><br>
                    <p>Angular Material</p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="skill">
                <div>
                    <img src="assets\skillsLogos\bootstrap.png"><br>
                    <p>Bootstrap</p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="skill">
                <div>
                    <img src="assets\skillsLogos\aspnet.png"><br>
                    <p>ASP.NET</p>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
</div>