<mat-sidenav-container class="mainContainer darkTheme">
  <mat-sidenav class="sidenavContent background5" mode="side" [opened]="!windowSmall" (closed)="windowSmall">
    <app-sidenav (darkTheme)="changeTheme($event)"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="background4">
    <mat-grid-list [cols]="gridSize" (window:resize)="onResize($event)" rowHeight="1:2">
      <mat-grid-tile class="tile1">
        <app-info></app-info>
      </mat-grid-tile>
      <mat-grid-tile [ngClass]="tileClassList">
        <router-outlet></router-outlet>
      </mat-grid-tile>
    </mat-grid-list>
    <app-footer class="footer"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>