.mainGrid {
    background-color: #08080a;
    width: 100%;
    overflow: auto;
}


mat-grid-list{
    height: 100%;
    padding: 0!important;
}

mat-grid-tile{
    height: 100%;
    padding: 0!important;
}

.example-container {
    height: 100%;
}

.mainContent {
    background-color: #08080a;
}

.sidenavContent {
    background-color: #060607;
    border: 0;
    width: 6%;
}