.mainContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  height: 100vh;
  background-color: #121218;
}

.sidenavContent {
  border: 0;
  width: 6%;
  transition: width 500ms;
  -webkit-transition: width 500ms;
  height: 100vh;
  margin: auto;
}

.sidenavContent:hover {
  width: 20em;
}

mat-grid-list {
  height: 100vh!important;
  padding: 0 !important;
}

mat-grid-tile {
  overflow: auto;
  height: 100vh!important;
  padding: 0 !important;
}

.tileRouter {
  margin-top: 100vh!important;
}
