<mat-sidenav-container class="mainContainer darkTheme">
  <mat-sidenav class="sidenavContent background3" mode="side" opened>
    <app-sidenav (darkTheme)="changeTheme($event)"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="background1" >
    <mat-grid-list [cols]="gridSize" (window:resize)="onResize($event)" rowHeight="1:1">
      <mat-grid-tile>
        <app-info></app-info>
      </mat-grid-tile>
      <mat-grid-tile>
        <router-outlet></router-outlet>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-content>
</mat-sidenav-container>
