// Color Mode Toggle
.colorModeToggle {
  width: 1em;
  margin: 0 auto;
  margin-top: 1em;
  transform: translate(-100%, 0);
}
/////////////////
// Routes List
.routesList {
  width: 1em;
  margin: 0 auto;
  margin-top: 18em;
  padding: 0 20px 0 20px;
  transition: width 500ms;
  -webkit-transition: width 500ms;
}

.routesList:hover {
  width: 12em;
}

@keyframes hoverMove {
  100% {
    width: 12em;
  }
}

/////////////////
// Routes Icons
.route {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  margin: 2em 0 2em 0;
  transform: translate(-1em, 0);
  overflow: hidden
}

.expandRouteDesc {
  width: 14em;
  border-radius: 0;

  transition: width 500ms;
  -webkit-transition: width 500ms;
}

.contractRouteDesc {
  width: 3em;
  border-radius: 50%;

  transition: width 5s;
  -webkit-transition: width 5s;

  transition-delay: 2s;
  transition: border-radius 2s;
  -webkit-transition: border-radius 2s;
}

.icon {
  position: absolute;
  transform: translate(40%, 40%);
}

.desc {
  // transform: translate(8em, 0.75em);
  transform: translate(4em,0.75em);
}
/////////////////
