.container {
  width: 100%;
  height: 100%;
  position: absolute;
}
/////////////////
// Color Mode Toggle
.colorModeToggle {
  margin: 0 auto;
  margin-top: 1em;
  text-align: center;
}

.colorMode {
  color: #ffffff;
  font-size: 10px;
  font-weight: 500;
}
/////////////////
// Rotation Deco
.rotateDeco {
  margin: auto;
  margin: 2em auto 2em auto;

  -webkit-animation: rotate 8s linear infinite;
  -moz-animation: rotate 8s linear infinite;
  -ms-animation: rotate 8s linear infinite;
  -o-animation: rotate 8s linear infinite;
  animation: rotate 8s linear infinite;
}
.r1 {
  width: 2px;
  height: 2px;
}
.r2 {
  width: 5px;
  height: 5px;
}
.r3 {
  width: 9px;
  height: 9px;
}

// Safari e Chrome
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/////////////////
// Routes List
.routesList {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  padding: 0 20px 0 20px;

  height: fit-content;
  width: 1em;

  transition: width 500ms;
  -webkit-transition: width 500ms;
}

.expandRouteDesc {
  -webkit-transition: width 500ms;
  -ms-transition: width 500ms;
  -moz-transition: width 500ms;
  -o-transition: width 500ms;
  transition: width 500ms;
  width: 12em;
}
/////////////////
// Routes Icons
.route {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  margin: 2em 0 2em 0;
  transform: translate(-1em, 0);
  overflow: hidden;
  white-space: nowrap;
  user-select: none;

  :hover {
    cursor: pointer;
  }
}

.expandRouteDesc {
  width: 14em;
  border-radius: 0;

  -webkit-transition: all 500ms;
  -ms-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.contractRouteDesc {
  width: 3em;
  border-radius: 50%;

  -webkit-transition: all 500ms;
  -ms-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.icon {
  position: absolute;
  transform: translate(40%, 40%);
}

.desc {
  position: absolute;
  transform: translate(4em, 0.75em);
}
/////////////////
